{% extends 'main.html' %}
{% load static %}
{% load poll_extras %}
{% block title %}
    فروشگاه نیک کالا
{% endblock %}

{% block ads %}
    <div class="d-none d-lg-block top-ads"><!-- start top ads -->

        <a href="{{ top_ads.link }}" target="_blank"><img src="{{ top_ads.image.url }}"></a>

    </div><!-- end top ads -->
{% endblock %}


{% block main %}
    <section class="main-slider"><!-- start main slider -->
        <div id="main-slider" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                {% for slider in sliders %}
                    <button class="active" aria-current="true" type="button" data-bs-target="#main-slider"
                            data-bs-slide-to="{{ slider.id }}"></button>
                {% endfor %}
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                {% for slider in sliders %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <a href="{{ slider.link }}" target="_blank" class="d-block w-100">
                            <img width="250"
                                 alt="{{ slider.alt }}"
                                 src="{{ slider.image.url }}"
                                 class="d-block w-100">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#main-slider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#main-slider" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </section><!-- end main slider -->


    <main><!-- start main -->
        <div class="container">


            <div class="row" style="margin-top: 25px;"><!-- start ads -->
                {% for mid_ads in middle_ads %}
                    <div class="col-xxl-3 col-xl-3 col-md-3 col-6 mb-3">
                        <a href="{{ mid_ads.link }}" target="_blank" class="d-block w-100"><img
                                src="{{ mid_ads.image.url }}" alt="{{ mid_ads.alt }}" class="ads-img">
                        </a>
                    </div>
                {% endfor %}
            </div><!-- end ads -->


            <div class="product-slider"><!-- start product slider -->
                <div class="row">
                    <div class="col-12">
                        <div class="title">
                            <h4>گوشی موبایل</h4>
                        </div>
                        <div class="owl-carousel owl-theme custom-product-slider">
                            {% for phone in phones %}
                                <div class="item"><!-- start item -->
                                    <div class="card border-0 custom-card mt-3">
                                        <a href="{% url 'product' slug=phone.slug %}" class="d-block w-100"><img
                                                src="{{ phone.image.url }}"
                                                class="slider-pic"></a>
                                        <div class="card-body">
                                            <a href="product.html" class="product-title">{{ phone.title }}</a>
                                            <div class="d-flex justify-content-between">
                                                <p class="font-13 mt-3 pe-4">{{ phone.price | three_digit }}تومان</p>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- end item -->
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div><!-- end product slider -->

            <div class="row"><!-- start ads -->
                {% for bot_ads in bottom_ads %}
                    <div class="col-xxl-6 col-xl-6 col-md-6 mb-3">
                        <a href="{{ bot_ads.link }}" target="_blank" class="d-block w-100">
                            <img src="{{ bot_ads.image.url }}" alt="{{ bot_ads.alt }}" class="ads-img">
                        </a>
                    </div>
                {% endfor %}
            </div><!-- end ads -->


            <div class="product-slider"><!-- start our suggestion box -->
                <div class="row pb-4">
                    <div class="col-12">
                        <div class="title">
                            <h4>جدیدترین محصولات</h4>
                        </div>
                        <div class="row">
                            {% for product in newest_products %}
                                <div class="col-lg-4 col-md-6"><!-- start item -->
                                    <div class="d-flex py-3 mx-3 border-bottom">
                                        <img src="{{ product.image.url }}" class="our-suggest-pic">
                                        <div class="our-suggest-detail flex-grow-1 pt-3">
                                            <a href="{% url 'product' slug=product.title %}"
                                               class="our-suggest-title">{{ product.title }}</a>
                                            <p>{{ product.price | three_digit }} تومان</p>
                                            <a href="{% url 'product' slug=product.title %}"
                                               class="btn btn-info font-12 float-end me-3">جزئیات
                                                محصول</a>
                                        </div>
                                    </div>
                                </div><!-- end item -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div><!-- end our suggestion box -->


            <div class="product-slider"><!-- start blog box -->
                <div class="row">
                    <div class="col-12">
                        <div class="title">
                            <h4>خواندنی ها جدید</h4>
                        </div>
                        <div class="row mt-4 px-2">
                            {% for blog in newest_blogs %}
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6 mb-3"><!-- start item -->
                                    <a href="{% url 'blog_detail' slug=blog.slug %}" class="d-block">
                                        <div class="card blog-card">
                                            <img src="{{ blog.image.url }}" class="blog-img">
                                            <div class="card-body">
                                                <a href="{% url 'blog_detail' slug=blog.slug %}">{{ blog.title }}</a>
                                            </div>
                                        </div>
                                    </a>
                                </div><!-- end item -->
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div><!-- end blog box -->

        </div>
    </main><!-- end main -->
{% endblock %}