{% extends 'blog/main.html' %}
{% load static %}
{% load poll_extras %}
{% block title %}
    وبلاگ نیک کالا
{% endblock %}
{% block main %}
    <div class="container">

        <div class="row mt-3"><!-- start top banner -->
            <div class="col-12">
                <a href="{% url 'blog' %}" target="_blank" class="w-100 d-block">
                    <img src="{% static 'assets/images/blog-ads.jpg' %}" class="blog-pic">
                </a>
            </div>
        </div><!-- end top banner -->

        <div class="row">

            <div class="col-lg-8"><!-- start blog slider -->
                <div class="carousel slide" data-bs-ride="carousel" id="blog-slider">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#blog-slider" data-bs-slide-to="0" class=""></button>
                        <button type="button" data-bs-target="#blog-slider" data-bs-slide-to="1" class=""></button>
                        <button type="button" data-bs-target="#blog-slider" data-bs-slide-to="2" class="active"
                                aria-current="true"></button>
                    </div>
                    <div class="carousel-inner mb-3">
                        <div class="carousel-item">
                            <a href="blog-detail.html" class="d-block">
                                <img src="{% static 'assets/images/mag-5.jpg' %}" class="d-block w-100">
                                <div class="carousel-caption">
                                    <p class="font-13">اپل هدست ویژن پرو را با قیمت ۳۵۰۰ دلار معرفی کرد؛ ورود اپل به
                                        بازار واقعیت ترکیبی</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item active carousel-item-start">
                            <a href="blog-detail.html" class="d-block">
                                <img src="{% static 'assets/images/mag-5.jpg' %}" class="d-block w-100">
                                <div class="carousel-caption">
                                    <p class="font-13">اپل هدست ویژن پرو را با قیمت ۳۵۰۰ دلار معرفی کرد؛ ورود اپل به
                                        بازار واقعیت ترکیبی</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item carousel-item-next carousel-item-start">
                            <a href="blog-detail.html" class="d-block">
                                <img src="{% static 'assets/images/mag-5.jpg' %}" class="d-block w-100">
                                <div class="carousel-caption">
                                    <p class="font-13">اپل هدست ویژن پرو را با قیمت ۳۵۰۰ دلار معرفی کرد؛ ورود اپل به
                                        بازار واقعیت ترکیبی</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <button type="button" class="carousel-control-prev" data-bs-target="#blog-slider"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button type="button" class="carousel-control-next" data-bs-target="#blog-slider"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div><!-- end blog slider -->

            <div class="col-lg-4"><!-- start left pic box -->
                <div class="row">
                    {% for ls in left_sides %}
                        <div class="col-12 mb-3">
                            <a href="{% url 'blog_detail' slug=ls.slug %}" class="sub-layer">
                                <img src="{{ ls.image.url }}" class="blog-pic">
                                <div class="pic-mask">
                                    <p>{{ ls.title }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div><!-- end left pic box -->

        </div>

        <div class="row mt-3"><!-- start title -->
            <div class="col-12 d-flex align-items-center">
                <h1 class="blog-title-text">جدیدترین مقالات </h1>
                <div class="blog-title-line"></div>
                <a href="blog-category.html" class="blog-title-btn">همه مقالات <i
                        class="fa fa-arrow-left align-middle"></i></a>
            </div>
        </div><!-- end title -->

        <div class="row mt-3"><!-- start new blog posts -->
            {% for blog in blogs %}
                <div class="col-lg-3 col-sm-6 mb-3"><!-- start item -->
                    <div class="card border-0 custom-blog-card">
                        <div class="sub-layer">
                            <img src="{{ blog.image.url }}" class="img-fluid">
                            <div class="over-layer">
                                <a href="{% url 'blog_detail' slug=blog.slug %}"
                                   class="image-badge">{{ blog.title }}</a>
                                <span class="image-like">(4)<i class="far fa-heart ms-1"></i></span>
                            </div>
                        </div>
                        <div class="card-body pb-0">
                            <a href="{% url 'blog_detail' slug=blog.slug %}">{{ blog.title }}</a>
                            <p>
                                {{ blog.short_description | truncatewords:12 }}
                            </p>
                        </div>
                        <div class="card-footer bg-white border-top-0">
                            <img src="{{ blog.image.url }}" class="person-pic">
                            <span class="writer">{{ blog.user.get_full_name }}</span>
                            <div class="float-end mt-2">
                                <span class="time"><i
                                        class="fa fa-clock font-13 me-1"></i>{{ blog.created_at | jalali_date_time }}</span>
                            </div>
                        </div>
                    </div>
                </div><!-- end item -->
            {% endfor %}

        </div><!-- end new blog posts -->

        <div class="row mt-3"><!-- start title -->
            <div class="col-12 d-flex align-items-center">
                <h1 class="blog-title-text">جدیترین های علم و تکنولوژی</h1>
                <div class="blog-title-line"></div>
                <a href="{% url 'blogs' cat='تکنولوژی' %}" class="blog-title-btn">همه مقالات <i
                        class="fa fa-arrow-left align-middle"></i></a>
            </div>
        </div><!-- end title -->


        <div class="row mt-3"><!-- start best blog posts -->
            {% for tech in techs %}
                <div class="col-lg-3 col-sm-6 mb-3"><!-- start item -->
                    <div class="card border-0 custom-blog-card">
                        <div class="sub-layer">
                            <img src="{{ tech.image.url }}" class="img-fluid">
                            <div class="over-layer">
                                <a href="{% url 'blog_detail' slug=tech.slug %}" class="image-badge">{{ tech.title }}</a>
                            </div>
                        </div>
                        <div class="card-body pb-0">
                           <a href="{% url 'blog_detail' slug=tech.slug %}" class="image-badge">{{ tech.title }}</a>
                            <p>
                                {{ tech.short_description | truncatewords:18 }}
                            </p>
                        </div>
                        <div class="card-footer bg-white border-top-0">
                            <img src="{% static 'assets/images/person.jpg' %}" class="person-pic">
                            <span class="writer">{{ tech.user }}</span>
                            <div class="float-end mt-2">
                                <span class="time"><i class="fa fa-clock font-13 me-1"></i>{{ tech.created_at | jalali_date_time }}</span>
                            </div>
                        </div>
                    </div>
                </div><!-- end item -->
            {% endfor %}

        </div><!-- end best blog posts -->

    </div>
{% endblock %}