{% load static %}
<div class="profile-card pb-0"><!-- start avatar box -->

    <img src="{% static 'assets/images/avatar.jpg' %}" class="profile-avatar img-thumbnail">
    <p class="font-13 text-center">{{ user.username }}</p>
    <div class="row border-top">
        <div class="col-6 border-end text-center">
            <i class="fa fa-lock font-13 text-muted my-2"></i>
            <a href="{% url 'change_password_request' %}" class="text-dark d-block font-12 mb-2">تغییر رمز عبور</a>
        </div>
        <div class="col-6 text-center">
            <i class="fas fa-sign-out-alt font-13 text-muted my-2"></i>
            <a href="{% url 'logout' %}" class="text-dark d-block font-12 mb-2">خروج از حساب</a>
        </div>
    </div>
</div><!-- end avatar box -->