{% extends 'account/profile/index.html' %}
{% block title %}
    حساب کاربری - صفحه اصلی
{% endblock %}

{% block content %}
    <div class="profile-card">
        <div class="row">

            <div class="col-lg-6"><!-- start personal info box -->
                <p class="font-13"> اطلاعات شخصی </p>
                <div class="card font-13 text-center">
                    <div class="row mx-0 ">
                        <div class="col-6 pt-2 border-bottom border-end"><p> نام و نام خانوادگی :</p>
                            <p>{{ user.get_full_name }}</p></div>
                        <div class="col-6 pt-2 border-bottom"><p>پست الکترونیک :</p>
                            <p>{{ user.email }}</p></div>
                        <div class="col-6 pt-2 border-bottom border-end"><p>شماره تلفن همراه :</p>
                            <p>{{ user.phone_number }}</p></div>
                    </div>
                </div>
            </div><!-- end personal info box -->

        </div>
    </div>
{% endblock %}