{% load static %}
<html lang="fa" dir="rtl"><!--- https://t.me/sabzrea --->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title> فروشگاه نیک کالا | ثبت نام </title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-10 col-md-7 col-lg-5 signup-login-box"><!-- start signup & login box -->
            <img src="{% static 'assets/images/logo.png' %}">
            <form method="post" action="">
                {% csrf_token %}
                {{ forms.as_div }}

                <button type="submit" class="btn btn-danger d-block font-12 mx-auto signup-btn mb-4"><!-- signup btn -->
                    ورود
                </button>
            </form>
        </div><!-- end signup & login box -->
    </div>
</div>


<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>

{% load sweetify %}
{% sweetify %}

</body>
</html>