{% load static %}

<footer><!-- start footer -->
    <div class="container">
        <div class="row footer-svg-icons border-bottom mx-2 py-2">
            {% for footer_cap in footer_capabilities %}
                <div class="col-6 col-md text-center">
                    <img src="{{ footer_cap.image.url }}">
                    <p>{{ footer_cap.title }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="row"><!-- start footer box -->
            <div class="col-lg-5 col-sm-6 footer-box">
                <p class="mb-4">همراه ما باشید!</p>
                <div class="social-list">
                    {% for sm in social_medias %}
                    <a href="{{ sm.link }}"><i class="fab fa-{{ sm.title }} social-media"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div><!-- end footer box -->

        <div class="row"><!-- start footer details -->
            <div class="col-md-8 col-12 footer-details ps-0">
                <p>{{ footer.title }}</p>
                <span>
                    {{ footer.description }}
                    </span>
            </div>
            <div class="col-md-4 col-12 d-flex align-items-center justify-content-end footer-pic pe-0">
                {% for image in footer.footer_images.all %}
                <img src="{{ image.image.url }}" class="footer-detail-pic">
                {% endfor %}
            </div>
        </div><!-- end footer details -->
        <div class="row"><!-- start copy right -->
            <div class="col-12 copy-right">
                <p>
                    {{ footer.verify }}
                </p>
            </div>
        </div><!-- end copy right -->
    </div>
    <a href="#" class="topbutton"><i class="fa fa-chevron-up"></i></a><!-- top button -->
</footer><!-- end footer -->

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.simple.timer.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>