<nav class="d-none d-lg-block navigation"><!-- start main menu -->
    <div class="container">
        <ul class="main-menu">
            <li class="has-mega-menu"><a href="#"> دسته بندی محصولات <i class="fa fa-angle-down"></i></a>
                <ul class="row mega-menu"><!-- start mega menu-->
                    {% for cat_parent in categories_parent %}
                        <li class="col-3 mega-menu-box">
                            <ul>
                                <li class="menu-title">
                                    <a href="{% url 'products' search=cat_parent.title %}">
                                        <i class="fa fa-angle-left"></i>{{ cat_parent.title }}
                                    </a>
                                </li>
                                {% for cat in cat_parent.category.all %}
                                    <li><a href="{% url 'products' search=cat.title %}">{{ cat.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}


                </ul>
            </li>
            <li><a href="search.html">تخفیف‌ها و پیشنهادها</a></li>
            <li class="has-sub-menu"><a href="#">صفحات <i class="fa fa-angle-down"></i></a>
                <ul class="sub-menu"><!-- start sub menu-->
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">خروج</a></li>
                    {% else %}
                        <li><a href="{% url 'register' %}">ثبت نام / ورود</a></li>
                    {% endif %}
                    <li class="has-sub-menu-level-2"><a href="#">محصولات</a><i class="fa fa-angle-down"></i>
                        <ul class="sub-menu-level-2"><!-- start sub menu level 2 -->
                            <li><a href="product.html">محصول موجود</a></li>
                            <li><a href="product-unavailable.html">محصول ناموجود</a></li>
                            <li><a href="404.html">خطای 404</a></li>
                        </ul><!-- end sub menu level 2 -->
                    </li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">حساب کاربری</a></li>
                {% endif %}
                    <li><a href="{% url 'blog' %}">وبلاگ</a></li>
                    <li><a href="{% url 'card' %}">سبد خرید</a></li>
                </ul><!-- end sub menu-->
            </li>
            <li {% if request.path == '/contact-us/' %} class="border-2 border-bottom border-success " {% endif %}><a
                    href="{% url 'contact_us' %}">تماس با ما</a></li>
            <li {% if request.path == '/about-us/' %} class="border-2 border-bottom border-success " {% endif %}><a
                    href="{% url 'about_us' %}">درباره ما</a></li>
        </ul>
    </div>
</nav><!-- end main menu -->