{% load static %}
<div class="blog-footer"><!-- start blog footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-footer-menu">
                    <ul class="w-100 d-flex ps-0">
                        <li><a href="{% url 'home' %}">نیک کالا</a></li>
                    </ul>
                </div>
                <p> هر گونه کپی‌برداری از مطالب نیک کالا مگ بدون کسب مجوز مکتوب ممنوع است.
                    حقوق این سایت به یاس دیزاین تعلق دارد.
                </p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-12">
                        <div class="social-list text-end mt-4">
                            {% for sm in social_medias %}
                                <a href="{{ sm.link }}"><i class="fab fa-{{ sm.title }} social-media"></i></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="topbutton"><i class="fa fa-chevron-up"></i></a><!-- top button -->
</div>


<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/blog-js.js' %}"></script>