{% extends 'main.html' %}
{% block title %}
    درباره ما
{% endblock %}
{% block main %}
    <main><!-- start main -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cart-content about-us"><!-- start about us -->
                        <div class="title">
                            <h4>{{ about.title }}</h4>
                        </div>
                        <div class="row px-3">
                            <div class="col-12">
                                {{ about.context | safe }}
                            </div>
                        </div>
                    </div><!-- end about us -->
                </div><!--- https://t.me/sabzrea --->
            </div>
        </div>
    </main>
{% endblock %}